.array-container {
    text-align: center;
}

.array-bar {
    width: 4px;
    background-color: red;
    display: inline-block;
    margin: 0 1px;
}

.button-container {
    background-color: rgb(46, 46, 101);
    height: 100px;
    display: flex;
}

.generate-button {
    color:green;
}

.algorithm-select {
    margin-top: 9px;
    margin-left: 50px;
}

.toggle-button-group {
    margin-top: 30px;
    background-color:rgb(87,87,191);
    height: 40px;
}

.toggle-button {
    color: white
}